<!DOCTYPE html>
<html lang="en">
<head>
<link href="/css/admin.css" rel="stylesheet" type="text/css">
<script src="https://kit.fontawesome.com/e74a2a18c8.js" crossorigin="anonymous"></script>

    <title>
        Admin
    </title>
    </title>
</head>
<body>
    <h1 id="page">Contact list</h1>
    <div id="contacts-list-container"> 
        <ul><% for(let i of contact_List){%>
            <li>
                <div class="details">
                     <p><%=i.name%></p>
                     <p><%=i.email%></p>
                     <p><%=i.message%></p>
                </div> 
                <div class="delete-button">
                    <a href="/delete-contact/?id=<%=i._id%>">
                        <i class="fa-duotone fa-trash" style="color: red;"></i>
                    </a>
                </div>
            </li>
            <%}%>
            
        </ul>
    </div>
</body>
</html>